# Arc Testnet Configuration
PRIVATE_KEY=d704a381d03a2673527d57fc2894128c5fb6dd2264f01339d17883f7fa19b6d4
ARC_RPC_URL=https://rpc-testnet.arc.network

# USDC Contract Address on Arc Testnet
# TODO: Replace with official Arc Testnet USDC address
USDC_CONTRACT=0x0aaa246300e261c6801b8c62397090deb47310ba

